.draggable {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.69);
  border-radius: 16px;
  background-blend-mode: normal;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(4px) brightness(116%); /* blur effects don't appear to work outside of the browser objects, use Electron acrylic on Windows 11? */
  -webkit-backdrop-filter: blur(4px) brightness(116%);
}
