.edit-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* translate: -400px; /* devMode */
}

.edit-button-container:hover .edit-button {
  z-index: 1;
  transform: translateX(-30px); /* Move children right on hover */
  transition: transform 0.3s ease; /* Smooth slide-in animation */
}

.edit-button-container:hover .edit-caret {
  display: none;
}

.edit-button-container:hover .edit-icon {
  display: flex;
}

.edit-button {
  width: 50px;
  height: 50px;
  background-color: #007bff; /* Button color */
  border: none;
  color: #fff; /* Icon color */
  border-radius: 16px 0 0 16px; /* Rounded corners on the left */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease; /* Smooth hover effect */
}

.edit-icon {
  display: none;
  font-size: 24px;
  transition: all 0.2s ease;
}

.edit-caret {
  display: flex;
  transition: all 0.2s ease;
  rotate: -90deg;
  translate: -10px;
  font-size: 16px;
  font-weight: 600;
}
