.spotify-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin: 0 auto;
  font-family: Roboto, sans-serif !important;
  font-size: 16px;
  position: relative;
  color: #e1e1e1;
}

.audio-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.button-container {
  width: 100%;
  height: 32px;
  cursor: pointer;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.69);
  border-radius: 8px;
  background-blend-mode: normal;
  background: linear-gradient(69deg, rgba(255, 255, 255, 0.25) 10%, rgba(255, 255, 255, 0.1) 88%);
  backdrop-filter: blur(2px) brightness(50%); /* blur effects don't appear to work outside of the browser objects, use Electron acrylic on Windows 11? */
  -webkit-backdrop-filter: blur(2px) brightness(50%);
  color: #e1e1e1;
}

.button-container > button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #e1e1e1;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 8px;
}

.button-container > button:hover {
  z-index: 1;
  backdrop-filter: blur(2px) brightness(69%);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.69);
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
}

.slider input {
  flex: 1;
  height: 2px;
  background-blend-mode: normal;
  background: linear-gradient(69deg, rgba(255, 255, 255, 0.25) 10%, rgba(255, 255, 255, 0.1) 88%);
  backdrop-filter: blur(2px) brightness(50%); /* blur effects don't appear to work outside of the browser objects, use Electron acrylic on Windows 11? */
  -webkit-backdrop-filter: blur(2px) brightness(50%);
  border: 1px solid rgba(255, 255, 255, 0.69);
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.2s ease;
  -webkit-transition: 0.2s;
  border-radius: 2px;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #e1e1e1;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.69);
  transition: all 0.2s ease;
}

.slider input::-webkit-slider-thumb:hover {
  background: white;
  width: 8px;
  height: 8px;
}

.slider-wrapper {
  height: 100%;
  width: 100%;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #e1e1e1;
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

.track {
  text-align: center;
  margin-bottom: 8px;
  transition: all 0.2s ease;
  padding: 0 4px;
}
